# Data Handling
numpy==1.26.0
pandas==2.2.2

# NLP + ML
nltk==3.7
scikit-learn==1.5.2
scipy==1.13.1
beautifulsoup4==4.12.2
requests==2.31.0
tldextract==5.1.2

# Model Saving
joblib==1.3.2

# Web Scraping
lxml==4.9.3
html5lib==1.1

# API Frameworks
Flask==2.2.3
fastapi==0.95.0
uvicorn==0.20.0

# Deployment
boto3==1.34.0
docker==7.0.0

# Testing
unittest2==1.1.0
mock==4.0.3

# Environment Variables
python-dotenv==1.0.0
dnspython==2.4.2
